<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="card bg-light">
	<div class="card-body">
		<article class="card-body mx-auto" style="width: 400px;">
			<h4  class="card-title mt-3 text-center">Create Account</h4>
			<p class="text-center">See all your shurls in one place</p>
		</article>
		<p class="divider-text"><span class="bg-light"></span></p>

		<%= form_with(model: @user, local: true) do |f| %>
			<%= render 'shared/error_messages' %>

			<div class="form-group input-group">
				<div class="input-group-prepend">
				    <span class="input-group-text"><i class="fa fa-user"></i> </span>
				</div>
				<%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
	    </div>
	    <div class="form-group input-group">
				<div class="input-group-prepend">
				    <span class="input-group-text"><i class="fa fa-envelope"></i> </span>
				</div>
				<%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
	    </div>
	    <div class="form-group input-group">
				<div class="input-group-prepend">
				    <span class="input-group-text"><i class="fa fa-lock"></i> </span>
				</div>
				<%= f.password_field :password, class: "form-control", placeholder: "Create password" %>
	    </div>
	    <div class="form-group input-group">
				<div class="input-group-prepend">
				    <span class="input-group-text"><i class="fa fa-lock"></i> </span>
				</div>
				<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repeat password" %>
	    </div>
	    <div class="form-group">
	    	<%= f.submit "Create account", class: "btn btn primary btn-block" %>
	    </div>
		<% end %>
		<p class="text-center">Have an account? <%= link_to "Log in", '#' %> </p>
	</div>
</div>