<!DOCTYPE html>
<html>
  <head>
    <title>Shurl</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="URL shortener by Timilehin Aderinola"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container alert-dismissible">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> fade in">
          <%= message %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <% end %>
    </div>
    <div class="main container">
      <%= yield %>
    </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
